<?xml version="1.0"?>
<launch>

    <arg name="maxon_config_file" default="$(find snake)/config/maxonSetupSnakeRollBendREV1.json"/>
    <arg name="show_UI" default="0"/>

    <include file="$(dirname)/inc/startMaxon.xml">
        <arg name="maxon_config_file" value="$(arg maxon_config_file)"/>
        <arg name="velocity_mode" value="0"/>
        <arg name="show_UI" value="$(arg show_UI)"/>
    </include>

</launch>

